@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

header {
  background-color: beige;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

header ul li {
  display: inline-block;
}

header .homeLink {
  float: left;
  padding: 15px 10px;
}

header .profileLink {
  float: right;
}

#receipt_list ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
}

#receipt_list ul li {
  transform: scale(0.97);
  border: 5px solid black;
  border-radius: 5px;
  border-color: transparent;
}

#receipt_list ul li:hover {
  transform: scale(1.02);
  border-color: black;
}

#receipt_list .AddReceiptBtn {
  background-color: orange;
  color: white;
}

#receipt_list .AddReceiptBtn:hover {
  background-color: rgb(0, 168, 0);
}

#receipt_list .AddReceiptBtn p {
  padding: 16px 8px;
  border: 2px solid;
  border-radius: 20%;
}

#receipt_list .AddReceiptBtn p:hover {
  padding: 18px 10px;
}

#receipt_details {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px 24px;
  background-image: url('/receipt_background.jpg');
}

#receipt_details h2,
#receipt_details h3 {
  color: rgb(69, 69, 69);
  font-weight: bold;
  font-size: x-large;
  font-family: 'cursive';
}